{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>KoraQuest</title>
</head>
<body>
    <section class="welcome_page">
        <nav>
            <a><p>How we serve</p></a>
            <a><p>Job Board</p></a>
            <a href="./login.html"><p>Login</p></a>
            <a href="./register.html"><p class="Sign">Sign Up</p></a>
        </nav>
        <h2>Kora<span>Quest</span></h2>
        <div class="Welcome">
            <h1>Africa's Best Freelancing Platform</h1>
            <p>Get The Fit For You</p>
            <div class="but">
                <a href="./login_organization.html"><button class="button1">Hire A Talent</button></a>
                <button class="button2"><a href="./login.html">Be A Talent</a></button>
            </div>
            <p class="market">Join over <span class="bolding">2000</span> talents and <span class="bolding">500+</span> organization already using <span class="blue bolding">Kora</span><span class="bolding">Quest</span></p>
        </div>
        <div class="companies">
            <img src="{% static 'images/tech-volve-high-resolution-logo-transparent.png' %}">
            <img src="{% static 'images/Alu-logo-blue.webp' %}">
            <img src="{% static 'images/wiredin.png' %}">
            <img src="{% static 'images/bk.jpg' %}">
            <img src="{% static 'images/vuba.png' %}">
        </div>
    </section>
    <section class="talents">
        <div class="nice_picture">
            <img src="{% static 'images/smilling_black_guy-removebg-preview.png' %}">
            <div class="info_boxes">
                <div class="ibox1"></div>
                <div class="ibox2"></div>
            </div>
        </div>
        <div class="for_talents">
            <div class="part2">
                <p>What is <span class="blue">Kora</span>Quest <span class="centerize">for Talents?</span></p>
                <div class="boxes">
                    <div class="boxx1">
                        <div class="box1">
                        </div>
                        <div class="box2"></div>
                    </div>
                    <div class="boxx2">
                        <div class="box3"></div>
                        <div class="box4"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="organizations">
        <p>
            What is <span class="blue">Kora</span>Quest for Organizations?
        </p>
        <img src="{% static 'images/business_lady-removebg-preview.png' %}">
        <div class="org_boxes">
            <div class="boxx3">
                <div class="org_box1">
                </div>
                <div class="org_box2"></div>
            </div>
            <div class="boxx4">
                <div class="org_box3"></div>
                <div class="org_box4"></div>
            </div>
        <div>
    </section>
    <section class="footer">
        <p class="title">Contact Us</p>
        <div class="diviser">
            <div class="info">
                <p class="logo"><span class="blue">Kora</span>Quest</p>
                <p>We Help Hiring Teams and Talents<br>to find their fit job or personnel</p>
                <a><i class="fa-solid fa-phone"></i> +250 791958253</a>
                <a><i class="fa-brands fa-linkedin-in"></i> UTERAMAHORO Avellin Bonaparte</a>
                <a><i class="fa-brands fa-instagram"></i> Avellin003</a>
                <a><i class="fa-solid fa-location-dot"></i> Kigali-Rwanda</a>
            </div>
                <div class="email">
                <input type="text" id="names" placeholder="Enter Your Names">
                <input type="text" id="email" placeholder="Enter Your Email">
                <textarea id="message" placeholder="Enter Your message"></textarea>
                <input type="file" id="attachment" multiple>
                <button id="sendEmail">Send Email</button>
            </div>
        </div>
        <footer>Bonaparte Copyright All rights reserved</footer>
    </section>
    <!-- <script src="https://apis.google.com/js/api.js"></script> -->
    <!-- <script src="./js/index.js"></script> -->
</body>
</html>