{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>KoraQuest-Login</title>
</head>3
<body>
    <section class="login">
        <div class="login_section">
            <h2><span>Kora</span>Quest</h2>
            <div class="form" id="form">
                <form id="loginForm" class="form">
                    <input type="text" placeholder="Enter Email" id="email">
                    <input type="password" placeholder="Enter Password" id="password">
                    <button type="submit">Login</button>
                </form>
            </div>
            <div class="forgot_password">
                <a href="#">Forgot Password?</a>
                <a href="./register.html">Create Account</a>
            </div>
        </div>
        <div class="Welcome_text">
            <h3>Welcome Back<br><span class="centerize">Talent!</span></h3>
        </div>
    </section>
    <script src="./js/login.js"></script>
</body>
</html>